<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog autoReload="true" internalLogLevel="Trace">
    <targets>
      <!--<target name="t1" type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${stacktrace} ${event-context:item=stacktrace} ${level}: ${message} ${event-context:item=exception}"/>-->
      <target name="t1" type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${level}: ${message} ${event-context:item=exception}" />
      <!--<target name="t2" type="Console" layout="${date:format=yyyyMMddHHmmss} ${callsite} ${level} ${message}"/>-->
    </targets>
    <rules>
      <logger name="NLogConsoleExample" minlevel="Debug" maxlevel="Error" writeTo="t1" />
    </rules>
  </nlog>
</configuration>